---
# Vars for deploying bonita app
bonita_url: "http://bananas:8080/bonita"
bonita_credentials:
  login: username
  password: password
organizations:
- "Organization_X.xml"
bdms:
- bdm_X.zip
forms:
- form_X.zip
rest_extensions:
- getX-1.0.0-SNAPSHOT.zip
layouts:
- layout_X.zip
processes:
- process_X--1.0.0.bar
pages:
- page_X.zip
#If you install everything in a venv:
#ansible_python_interpreter: "$HOME/workspaces/bpm/install-bonita-app/.venv/bin/python"
